$lightBlue: #477998;
$black: #0B2634;
$red: #f64740;
$green: #c4d6b0;

* {
   box-sizing: border-box;
}


body {
  font-family: didot;
  background-color: $lightBlue;
  color: $black;
}

#app {
  text-align: center;
}

.drop-boxes .not-hovered, .drop-boxes .hovered {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  &.hovered .letter-container {
    border-color: $red;
  }
}
.letter-container {
  border: 1px dashed;
  border-color: transparent;
  position: relative;
  border-radius: 50%;
  font-size: 60px;
  line-height: 110px;
  width: 110px;
  height: 110px;
  margin: 0 20px;
  padding: 0 10px;
  background: #fff;
}

#result {
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  margin: 50px auto 20px;
  font-size: 30px;
  width: 200px;
  display: block;
  background: #fff;
  padding: 10px;
  border: 3px dotted $green;
	box-shadow: inset 0 -1px 0 0 $green, inset 0 1px 0 0 $green, 0 1px 0 0 $green, 0 -1px 0 0 #e5e5e5;
}


.drag-items {
  width: 60%;
  display: flex;
  margin: 30px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 630px;
  div {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-bottom: 20px;
    line-height: 100px;
    padding: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease-out;
    &.played {
      pointer-events: none;
      &.correct {
        background-color: $green;
      }
      &.incorrect {
        background-color: $red;
      }
    }
  }
}

