$lightBlue: #477998;
$black: #0B2634;
$red: #f64740;
$green: #c4d6b0;

* {
   box-sizing: border-box;
}


body {
  font-family: didot;
  background-color: $lightBlue;
  color: $black;
  background-image: radial-gradient(rgba(255, 255, 255, 0.3) 30%, transparent 30%),
  radial-gradient(rgba(255, 255, 255, 0.3) 30%, transparent 30%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.main {
  overflow: hidden;
  text-align: center;
}

.drop-boxes .not-hovered, .drop-boxes .hovered {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  &.hovered .letter-container {
    border-color: $black;
  }
}
.letter-container {
  border: 2px dashed;
  border-color: transparent;
  position: relative;
  border-radius: 50%;
  font-size: 60px;
  line-height: 110px;
  width: 110px;
  height: 110px;
  margin: 0 20px;
  padding: 0 10px;
  background: #fff;
  box-shadow:
    inset 0 0 8px  rgba($black,0.5),
          0 0 16px rgba($black,0.5);
}

#result {
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  margin: 50px auto 20px;
  font-size: 30px;
  width: 200px;
  display: block;
  background: #fff;
  padding: 15px;
  border: 5px solid white;
  border-radius: 5px;
	box-shadow:
    inset 0 0 8px  rgba($black,0.5),
          0 0 16px rgba($black,0.5);
}


.drag-items {
  width: 60%;
  display: flex;
  margin: 30px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 630px;
  align-items: center;
  .words {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow:
    inset 0 0 8px  rgba($black,0.5),
          0 0 16px rgba($black,0.5);
    padding: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease-out;
    &.played {
      pointer-events: none;
      &.correct {
        background-color: $green;
      }
      &.incorrect {
        background-color: $red;
      }
    }
  }
}

.modal {
  z-index: 999;
  position: fixed;
  width: 50%;
  top: 50%; left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  &#modal-score {
    display: none;
  }

}

.overlay {
  position: fixed;
  top: 0; left: 0;
  z-index: 1;
  height: 100%; width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-close {
  cursor: pointer;
  position: absolute;
  right: 0; top: 0;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
}
