$lightBlue: #A6DEE1;
$darkBlue: #0B2634;
$red: #E51B37;

body {
  font-family: didot;
  background-color: $lightBlue;
}

#app {
  text-align: center;
}

.drop-boxes div {
  display: inline-block;
  border: 1px dashed;
  border-color: transparent;
  height: 100px;
  width: 100px;
  line-height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 10px;
  &.hovered {
    border-color: $red;
  }
}
.letter-container {
  position: relative;
  font-size: 60px;
  line-height: 60px;
  width: 100px;
  margin: 0 20px;
  padding: 0 10px;
}
.hide {
  display: none;
}

h1, #result-text {
  height: 50px;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  line-height: 50px;
}


.drag-items {
  width: 60%;
  display: flex;
  margin: 30px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 630px;
  div {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 5px;
    &.played {
      opacity: 0.5;
      pointer-events: none;
      &.correct {
        background-color: green;
      }
      &.incorrect {
        background-color: $red;
      }
    }
  }
}

